@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h3 class="display-4">Access Denied</h3>

    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-3 shadow-sm">
                <!-- Card Header -->
                <div class="card-header">
                    <h5 class="text-danger">Unauthorized Access</h5>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <p>You do not have permission to access this page.</p>
                </div>
            </div>
        </div>
    </div>
</div>