@model LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Log in</h2>
            </div>
            <div class="card-body">
                <!-- Display validation errors -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
            </div>
            <div class="card-footer text-end">
                <span>Don't have an account yet? </span>
                <a asp-controller="Account" asp-action="Register">Register here</a>
            </div>
        </div>
    </div>
</div>