@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using QuickNotes.Data.Entities
@inject RoleManager<AppRole> RoleManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="card">
                    <div class="card-header">
                        <h1 class="h4 mb-0">Welcome, @User.Identity.Name</h1>
                    </div>
                    <div class="card-body">
                        <p>You are in the following roles:</p>
                        <ul>
                            @foreach (var role in await RoleManager.Roles.ToListAsync())
                            {
                                if (User.IsInRole(role.Name))
                                {
                                    <li>@role.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">Welcome!</h1>
                        <h3 class="card-subtitle mb-3 text-muted">Log in or register to use QuickNotes</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
