@model IEnumerable<NoteViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Welcome @User.Identity.Name</h1>
    }
    else
    {
        <h1>Welcome! Log in or sign up to use QuickNotes!</h1>
    }
</div>
